@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 138 50% 8%;
    --foreground: 54 97% 90%;
    --card: 138 55% 6%;
    --card-foreground: 54 97% 90%;
    --popover: 138 55% 6%;
    --popover-foreground: 54 97% 90%;
    --primary: 142 72% 29%;
    --primary-foreground: 55 100% 93%;
    --secondary: 138 50% 10%;
    --secondary-foreground: 54 90% 75%;
    --muted: 138 45% 11%;
    --muted-foreground: 54 60% 55%;
    --accent: 138 45% 14%;
    --accent-foreground: 54 97% 90%;
    --destructive: 0 72% 49%;
    --destructive-foreground: 54 97% 90%;
    --border: 138 50% 15%;
    --input: 138 50% 11%;
    --ring: 142 72% 29%;
    --radius: 0.5rem;
    --gold: 43 65% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    font-family: var(--font-heading), Georgia, serif;
  }
}
